# Ignore folders
.storage/
.cloud/
deps/
__pycache__/
tts/
custom_components/
www/
blueprints/
.vscode/
packages/keymaster/

# Ignore wildcards
*.db
*.log
*.log.*
*.pem

#ignore files
secrets.yaml
*.DS_Store
.HA_VERSION
ip_bans.yaml
webostv.conf